body {
    font-family: Arial, sans-serif;
    background-color: #c22929;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

#auth a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

#auth a:hover {
    background-color: #0056b3;
}
